APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync


FRONTEND_ADDRESS=http://localhost:300

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

JWT_SECRET=

YOUTUBE_API_KEY=

INTERNAL_TOKEN=
IRC_RELAY=http://localhost:6723