body {
  background: #1F2325;
  color: white;
  //padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 0;

}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: darkgrey;
}


.button-plain
{
  border: none;
  transition-duration: 0.2s;
  margin-top: 2px;
  margin-bottom: 2px;
}
.button-primary
{
  @extend .button-plain;
  border: 2px solid #F75567;
  background: #F75567;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 100px;
  font-size: 16px;
  font-weight:200;
  text-transform:uppercase;
}
.button-primary:hover {
  background: rgba(247, 74, 89, 0.65);
}
.button-primary:active {
  background: rgba(247, 85, 103, 0.47);
}
.button-primary-wide
{
  @extend .button-primary;
  width: 200px;
}

.light-textbox
{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 200px;
  color:white;
  font-size: 16px;
  text-align: center;
  padding: 5px;
}
.light-textbox-error
{
  border-bottom: 1px solid red;
}

.homepage
{
  padding-top: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.songListElementStripe
{
  width: 50px;
  height: 100px;
  border: 1px;
  display: inline-block;
  background-color: #689BDD;
  vertical-align: middle;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
}
.songListElementStripe-nowPlaying {
  @extend .songListElementStripe;
  background-color: #EF6356;
}
.songListElementStripe-priority {
  @extend .songListElementStripe;
  background-color: royalblue;
}
.songListElementContent {
  width: 400px;
  height: 100px;
  border: 1px;
  vertical-align: middle;
  padding: 5px;

  display: inline-block;
  background-color: #444c60;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.songListElementWrapper {
  margin: 5px;
}
